* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited,
.copyright {
  color: white;
  text-decoration: none;
}

main {
  max-width: 80%;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
}

.central-content {
  width: 70%;
}

h2,
h3,
h5 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  margin: 0;
}

p {
  font-weight: 200;
  line-height: 2;
}

.fun-fact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.fun-fact {
  border: 1px solid black;
  padding: 1em;
  margin: 0.5em;
  border-radius: 1%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-list {
  display: flex;
  background-color: #00796b;
  justify-content: space-around;
  padding: 1em 3.75em;
  color: white;
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
}

img {
  max-width: 100%;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.email-input,
.comment-input {
  display: flex;
  width: 100%;
}

input {
  width: 80%;
  margin: 1em 0 0 1em;
}

.submit-form {
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 1%;
}

aside {
  padding: 1em;
  height: 100%;
  position: fixed;
}

aside li {
  margin-bottom: 2em;
}

footer {
  background-color: #00796b;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0;
}
